<%# <div data-add-post-to-list-target="posts"> %>
<%# </div> %>
    <%= link_to post_path(listpost.post), class: "" do %>
      <div class="slim-card">
            <i class="fa-solid fa-heart clickable-coral favourite-icon"></i>

        <% if listpost.post.photo.present? %>
          <%= cl_image_tag listpost.post.photo.key, class: "card-media" %>
          <% else %>
          <%= image_tag "https://s15.postimg.cc/temvv7u4r/recipe.jpg" %>
        <% end %>
          <h2 class="card-title"><%= listpost.post.title %></h2>
      </div>
    <% end %>
