<div class="container">
  <h1>Edit your list name</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: "Enter your tasklist name"%>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

</div>
