// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Sheddy Colour palette
$primary-green: #5DA668;
$secondary-orange: #F2A341;
$clickable-coral: #F26052;
$background-white: #F6F4F2;
$accent-green: #79D988;
$text-grey: #514B47;
