// Import Google fonts

@import url("https://use.typekit.net/ffk1tre.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sarabun:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Hind:wght@300&display=swap');

// Define fonts for body and headers
* {
  font-family: "Hind", "Helvetica", "sans-serif";
}

$body-font: "Hind", "Helvetica", "sans-serif";
$headers-font: "Sarabun", "Helvetica", "sans-serif";
$titles-font : "Sarabun", "Helvetica", "sans-serif";
$font-small : "Hind", "Helvetica", "sans-serif";


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
