.lists {
  display: flex;
  justify-content: space-between;
}

.my-lists {
  padding-top:16px;
  padding-bottom:16px;
}

.my-lists ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-add {
  width: 400px;
}
