.post-list-results {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin-top: 2px;
}

.add-review {
  padding-bottom: 16px;
}

.search-lists {
  margin-top: 16px;
}

.icon-toggle{
  z-index: 2;
  background-color: $background-white;
 padding: 16px;
  text-align: center;
  margin-top: 16px;

    &:hover {

      background-color: $clickable-coral;
      border-radius: 50%;
      color: $background-white;
  }

  &:active {
    background-color: $secondary-orange;
  }
}

.show-dropdown {
  background-color: $background-white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: block;
  z-index:6;
}

.menu-item {
  display: flex;
  align-items: center;
}

.post-menu p {
  margin: 0;
}


.list-dropdown {
  width: 300px;
  top:60px;
}

.instructions .dropdown {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: green 2px solid;

}


.instructions {
  width: 100%;
}
