<div class="py-5 text-center container-fluid banner-search">
  <div class="row py-lg-5">
  <div class="col-lg-8 col-md-8 mx-auto p-5">
    <h1 class="lead mute-text">Shed the cost of living: </h1>
    <h1 class="lead mute-text">join the Sheddy community and</h1>
    <h1 class="lead mute-text">Do It Yourself</h1>
      <p><%= form_with url: posts_path, method: :get, class: "d-flex search-field" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for a post"
        %>
        <%= submit_tag "search", class: "btn search-button" %>
      <% end %></p>
    </div>

  </div>

</div>
<%= render "shared/navbar" %>
