<div class="add-review">
  <%= simple_form_for([post, feedback],
    data: {add_review_in_list_target: "form",
    action: "submit->add-review-in-list#send"
    }) do |f| %>
      <%= f.input :rating, placeholder: "Enter a rating"%>
      <%= f.input :comment %>
      <%= f.submit 'Add Review', class: "btn btn-primary" %>
  <% end %>
</div>
