
<%= render "shared/banner_search" %>

<div class="py-5 text-center container">
  <ul>
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <li>
          <p><%= post.title %></p>
        </li>
      <% end %>
      <p><%= post.body %></p>
    <% end %>
  </ul>
</div>
