<div class="container">
  <h2>Add a new post</h2>
  <%= simple_form_for(@post) do |f| %>
    <%= f.input :title, placeholder: "Enter a title"%>
    <%= f.input :body, placeholder: "upload your instructions"%>
    <%= f.button :submit, 'Create', class: "btn btn-primary" %>
  <% end %>
</div>
