

.banner-search {
  background-image: url("https://res.cloudinary.com/dqsavtkzq/image/upload/v1662497630/banner-background_bwotd9.png");
  background-size: contain;
}

.search-field {
  padding-top: 50px;
}

.mute-text {
  color: $background-white
}

.search-button {
  background-color: #F26052;
  color: $background-white;
}

.collections i {
  color: $primary-green;
  font-size: 32px;
  padding-right: 12px;
}

.collections h3 {
  margin: 0;
  color: $text-grey;
}

.lead {
  font-size: 38px;
  text-shadow: 3px 3px 3px rgba(31, 55, 34, 0.5);
}
