

.banner-search {
  background-image: url("https://res.cloudinary.com/dqsavtkzq/image/upload/v1662497630/banner-background_bwotd9.png");
  background-size: contain;
}

.search-field {
  padding-top: 50px;
}

.mute-text {
  color: white;
}

.search-button {
  background-color: #F26052;
  color: white;
}
