

.banner-search {
  background-image: url("banner-background.png");
  background-size: contain;
}

.search-field {
  padding-top: 50px;
}

.mute-text {
  color: white;
}

.search-button {
  background-color: #F26052;
  color: white;
}
