
.main-btn {
  display: flex;
  align-items:center;
  background-color: $clickable-coral;
  color: $background-white;
  padding: 12px 32px;
  border-radius: 16px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  margin-left: 16px;
  justify-content: center;
  border: none;
  max-width: 250px;
  min-width: 250px;
  cursor: pointer;

  &:hover {
    background-color: $secondary-orange;
    color: $background-white;
  }


  &:active {
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
  }
}

.main-btn p {
 margin: 0 0 0 16px;
}

.form {
  margin-left:0;
  width: 100%;
}

.user-card-body .button-list {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.search-button {
  &:hover {
    background-color: $secondary-orange;
    color: $background-white;
  }
}

.toggle-button {
  padding: 12px 16px 13px 16px;
  font-size: 16px;
  border-radius: 32px;
  background-color: $clickable-coral;
  color:white;
  margin-right: 20px;
  transform: none;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;

  &:hover {
    cursor:pointer;
  }
}

.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: $secondary-orange;
}

.remove-link {
  color: $text-grey;
  text-decoration: none;

  &:hover {
    color: $secondary-orange;
  }
}

.icon-btn {
  background-color: $clickable-coral;
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}

.icon-btn i {
  color: $background-white;
}

.post-add-button .toggle-button {
  padding:12px 14px 13px 14px;
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  margin-bottom: 16px;
}


@media only screen and (max-width: 800px) {
  .main-btn {
    margin-bottom: 16px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }
  }
