$titles-font : 'Hammersmith One';
$font-small : 'Hind';
$mustard: #F3A440;
$black: #000000;
$grey: #717171;
$white: #FFFFFF;
$spacer: 8px;

// .card-body {
//   display: inline-block;
//   // justify-content: center;
//   font-size: 20px;
//   padding: 8px;
//   margin: 8px;
//   box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
// }


.card-container {
  display: grid;
  grid-template-columns: auto;
  // margin: 25px auto 0;
  // position: relative;
  // width: 692px;
  column-gap: 20px;
  row-gap: 20px;

}

.card {
  display: flex;
  flex-direction: row;
  background-color: $background-white;
  padding: 8px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
}

.card-body {
  display: flex;
  flex-direction: column;
  // float: left;
  justify-content: center;
  flex-grow: 2;

}

.card-author {
  font: $font-small;
  color: $text-grey;
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  color: $text-grey;
  font-family: $titles-font;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.card > img {
  height: 200px;
  width: 300px;
}

.home-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small-card {
  background-color: $background-white;
  padding: 8px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);

}
.small-card-body > img{
  height: 200px;
  width: 350px;
}

.user-card-body {
  background-color: $secondary-orange;
  padding: 14px;
  border-radius: 8px;
  height: 200px;
}

.user-card-container {
  display: inline-block;
  width: 200px;
  height: 100px;
  background-color: $mustard;
  border-radius: 4px;
  margin: 16px 0;
}


.user-card-body > span {
  padding-left: 10px;
}

@media screen and (max-width: 750px) {
  .card-container {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 500px) {
  .card-container {
    grid-template-columns: auto;
  }
}
