$titles-font : 'Hammersmith One';
$font-small : 'Hind';
$mustard: #F3A440;
$black: #000000;
$grey: #717171;
$white: #FFFFFF;
$spacer: 8px;

// .card-body {
//   display: inline-block;
//   // justify-content: center;
//   font-size: 20px;
//   padding: 8px;
//   margin: 8px;
//   box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
// }


.card-container {
  display: grid;
  grid-template-columns: auto;
  // margin: 25px auto 0;
  // position: relative;
  // width: 692px;
  column-gap: 20px;
  row-gap: 20px;

}

.large-card {
  display: flex;
  flex-direction: row;
  background-color: $background-white;
  // background-color: orange;
  padding: 8px;
  position: relative;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.large-card-body {
  flex-grow: 2;
}



.card-author {
  font-family: $font-small;
  color: $text-grey;
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}


.card-title {
  color: $text-grey;
  font-family: $titles-font;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
  color: $text-grey;
}

.card-date {
  color: $text-grey;
}

.large-card > img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  object-position: center;
}
 .large-card-body > .card-rating {
  text-decoration: none;
  color: $text-grey;
 }

.home-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small-card {
  width:33%;
  height: 360px;
  margin: 20px;
  background-color: $background-white;
  padding: 8px;
  position: relative;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}
.small-card-body > img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.card-details {
  position: absolute;
  bottom: 8px;
}

.small-card-body > h2 {
  text-align: left;
  line-height: 1.2;
}


.card-details > .card-rating {
  text-decoration: none;
  color: $text-grey;
}

.user-card-body {
  display: flex;
  justify-content: space-between;
  background-color: $secondary-orange;
  padding: 14px;
  border-radius: 8px;
  height: 180px;
}

.user-card-container {
  width: 100%;
  height: 100px;
  background-color: $mustard;
  border-radius: 4px;
  margin: 16px 0;
}

.user-card-body h3 {
  font-size: 16px;
}


.user-card-body > span {
  padding-left: 10px;
}

.user-card-avatar {
  height: 100%;
}

@media screen and (max-width: 750px) {
  .card-container {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 500px) {
  .card-container {
    grid-template-columns: auto;
  }
}


.user-details {
  display: flex;
  flex-direction: column;
}


  .slim-card {
    height: 72px;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 18px;
    overflow:hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    padding-right: 16px;

    & h2 {
      line-height: 1.2;
      font-size: 16px;
      margin-left: 8px;
    }
  }

  .slim-card img {
    width:160px;
  }

  .favourite-icon {
    position: absolute;
    top: 8px;
    right: 8px;

  }

  .fa-star {
    font-size: 16px;
  }
