.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 80%;
    overflow: scroll;
    padding: 1rem;
    width: 100%;
    background-color: rgb(255, 255, 255);



      // .message-9 {
      //   font-family: $font-small;
      // }
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;


    .form-group {
      margin-bottom: 0;

    }

    .btn {
      display: flex;
      align-items:center;
      background-color: $clickable-coral;
      color: $background-white;
      padding: 12px 32px;
      border-radius: 16px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
      margin-left: 16px;
      justify-content: center;
      border: none;
      max-width: 250px;
    }
  }
}

.message-details {
  display: flex;
}



.message-profile-photo img {
  height: 75px;
  border-radius: 50%;
  margin-top: 8px;
}

.message-cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  width: 60%;
  justify-content: space-around;

}

.post-creator {
  align-self: flex-end;
}

.post-creator > .avatar-small-circle {
  border: rgb(229, 99, 0) 3px solid;
}

.post-user > .avatar-small-circle {
  border: $primary-green 3px solid;
}

.post-user {
  align-items: flex-start;
}

.message-cards > img {
  margin: 0 16px;
}

.message-card-body {
  padding: 0 24px;
  align-self: center;
  width: 80%;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  opacity: 80%;
  color: $text-grey;




}

.post-user .message-card-body {
  background-color: #e6e6e6;
  border: 3px solid $primary-green ;

}



.post-creator .message-card-body {
  background-color: #e6e6e6;
  text-align: right;
  border: 3px solid rgb(229, 99, 0) ;



}
.messages {
  display: flex;
  flex-direction: column;
}



// .message-profile-user {
//   height: 8px;
// }

// .message-header {
//   background-color: red;
// }

.chatroom-card-overall {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}
