.footer span {
  color: white;
}

.footer img {
  width: 200px;
}

.footer .fa-envelope {
  color: $background-white;
  font-size: 32px;
}


.search-button {
  border-top-right-radius: 8px !important;
  border-bottom-right-radiUS: 8px !important;
}

.footer .search-field {
  padding-top: 8px;
}

.social-icons {
  color: $background-white;
  font-size: 32px;
}

.social-icons i {
  margin-left: 16px;
  margin-right: 6px;
}

@media only screen and (max-width: 800px) {

  .footer form {
    justify-content: center;
  }
  .footer {
    padding: 10% !important;
  }

  .footer>.row {
    display:flex;
    flex-direction: column;
    align-items:center;
  }

  .social-icons {
    justify-content:center;
    margin: 24px 0 40px 0;
  }

  .footer .search-field {
    justify-content:center;
  }

  .footer .logo {
  display:flex;
  justify-content:center;
  margin-bottom: 24px;
}

.sign-up {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.sign-up-text {
  margin: 0 16px;
}
}
