.form-container {
  box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  text-align: center;
}

.form-check .form-check-input {
  float: none;
  margin-right: 16px;
}

.form-label {
  color: $text-grey;
}

.form-control {
  color: $text-grey;
}

.form-container {
  text-align: left;
}

.form-container h2 {
  text-align:center;
}
