.form-container {
  box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  text-align: center;
}

.form-check .form-check-input {
  float: none;
  margin-right: 16px;
}

.form-label {
  color: $text-grey;
}

.form-control {
  color: $text-grey;

}

.footer .form-control {
  width: 60%;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.search-field .form-control {
  width: 60%;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.form-control {
  border-radius: 8px;
}

.banner-search>.form-control {

}

.form-container {
  text-align: left;
}

.form-container h2 {
  text-align:center;
}

.add-review .main-btn{
  margin: auto;
}

.search-field .form-control {
  max-width: 50%;
}
