.list-card {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(225, 225, 225);
  vertical-align: middle;
  align-items: center;
  background-color: $background-white;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  text-decoration: none;
  color: $text-grey;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.list-card:hover {
  background-color: rgb(240, 240, 240);
  box-shadow:none
}

.list-card-date {
  right: 10px;
  bottom: 2px;
}
