.navbar-lewagon {
  justify-content: space-between;
  background: #FFFFFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50%;
}

.nav > li > img {
  width: 60%
}

.navbar-collapse {
  text-align: right;
}

.nav-logo {
  width: 40%;
}
