.navbar-lewagon {
  justify-content: space-between;

  background: #FFFFFF;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand > a > img {
  width: 80%;
}

.nav > li > img {
  width: 60%
}

.navbar-collapse {
  text-align: right;
}



a {
  text-decoration: none;
}
