.review-card {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.reviews {
  margin-top: 32px;
}

.review {
  border-bottom: 0.5px solid rgb(225, 225, 225);
  margin-top: 24px;
}

.review-body {
  margin-left: 24px;
  flex-grow: 2;
}

// .left-review {
//   margin-right: 8px;
// }

// .middle-review {
//   margin-right: 8px;
// }

// .right-review {
//   font-weight: 100;
// }

// .bottom-comment {
//   font-size: 15px;
// }
