.review-card {
  display: flex;
  font-size: 14px;
}

.review {
  border-bottom: 0.5px solid rgb(225, 225, 225);
}

.left-review {
  margin-right: 8px;
}

.middle-review {
  margin-right: 8px;
}

.right-review {
  font-weight: 100;
}

.bottom-comment {
  font-size: 15px;
}
